@page "/"
@rendermode InteractiveServer

<PageTitle>Home - Wolf-Rayet Star</PageTitle>

<h1>Hello, This is Wolf-Rayet Star website!</h1>

<p>Wolf-Rayet Star website provides several useful features proudly implemented in ASP.NET Core technologies.</p>

<i class="bi bi-info-circle"></i> Wolf-Rayet stars (WR) are a rare heterogeneous set of stars with unusual spectra showing prominent broad emission lines of ionized helium and highly ionized nitrogen or carbon. The spectra indicate very high surface enhancement of heavy elements, depletion of hydrogen, and strong stellar winds. Their surface temperatures range from 30,000 K to around 210,000 K, hotter than almost all other stars.<br />
The first discovered WR stars are WR 134, 135 and 137 located in Cygnus, which were discovered by astronomers Charles Wolf and Georges Rayet in 1867.

<picture>
    <img src="./Wolf-Rayet_124_(NIRCam_and_MIRI_composite_image).webp" class="img-fluid rounded img-thumbnail" alt="WR-124 taken by James Webb Space Telescope" />
</picture>
